<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form method="post" th:action="@{/search/results}">
        <h2>Search by:</h2>
        <p>
            <span th:each="column : ${columns}">
                <input
                        name="searchType"
                        th:checked="${column.key == 'all'}"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        type="radio"/>
                <label th:for="${column.key}" th:text="${column.value}" ></label>
            </span>
        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input id="searchTerm" name="searchTerm" type="text" />
        </p>
        <input type="submit" value="Search"/>
    </form>

    <hr/>

    <!-- TODO #4 - Loop over the search results to display all job fields. -->

    <th:block th:each="job:${jobs}" >
        <table class="job-listing">
            <tr> <td>ID</td>  <td th:text="${job.id}"></td></tr>
            <tr><td>Name</td><td th:text="${job.name}"> </td></tr>
            <tr><td>Employer</td> <td th:text="${job.employer}"></td></tr>
            <tr><td>Location</td> <td th:text="${job.location}"></td></tr>
            <tr><td>Position Type</td> <td th:text="${job.positionType}"></td></tr>
            <tr><td>Core Competency</td> <td th:text="${job.coreCompetency}"></td></tr>
        </table>
    </th:block>

</div>

</body>
</html>